@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  margin: 0 auto;
  height: 100vh;
  display: flex;
  justify-content: center;
}

form {
  height: max-content;
  margin: 0 auto;
  border: 1px solid rgba(0,0,0,0.4);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.4);
}

label {
  margin-top: 1rem;
  display: block;
}

.helperMessage {
  margin-top: 1rem;
}

input {
  display: block;
  outline: 1px solid black;
  width: 100%;
  padding: 0.25rem 0.5rem;
}

button[type='submit'], button[type='button'] {
  margin-top: 1rem;
  background-color: aliceblue;
  padding: 0.25rem;
  border-radius: 0.25rem;
  width: 25%;
  align-self: center;
}

button:hover {
  cursor: pointer;
  background-color: antiquewhite;
}

.loading-bar {
  display: block;
  margin-top: 1rem;
  width: 100%;
  height: 30px;
  background-color: #ccc;
  border: 1px solid #aaa;
  position: relative;
}

.bar {
  width: 0;
  height: 100%;
  background-color: #0074d9;
  transition: width 1s;
}

.hidden {
  display: hidden;
}

.details {
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid black;
  width: 50vw;
  height: max-content;
}